<footer>
    <div class="footer-content">
        <div class="footer-contact">
            <div class="footer-sect">
                <h3>Contact us:</h3>
                <p>bullshitemailaddress@gmail.com</p>
            </div>
            <div class="footer-sect">
                <h3>Meat the team</h3>
                <a class="footer-link" href="{{ url_for('home_bp.meet_the_team') }}">Get to know the developers behind this app.</a>
            </div>
        </div>

        <div class="footer-sect">
            <h3>Want to collaborate?</h3>
            <a class="footer-link" href="https://github.com/kethmihew/WinCS-x-UoACS-Hackathon-Kpop-Demon-Hackers/tree/main">We welcome developers to contribute to our project.
                Create a fork on our repository and show us how you would change our app.</a>
        </div>

        <div class="footer-sect">
            <h3>Downloads</h3>
            <p>All releases</p>
            <p>MacOS</p>
            <p>Windows</p>
            <p>Android</p>
        </div>

    </div>
    <p class="footer-copyright">All Rights Reserved &copy; 2025 Mitsky</p>

</footer>